// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~font-awesome/scss/font-awesome.scss";
@import "node_modules/font-awesome/scss/font-awesome.scss";


/*About me page*/
.round{
    width:10px;
    height:10px;
    color:green;
    background-color: green;
    border-radius: 5px;
}
.border-round{
    width:14px;
    height:14px;
    border-radius:8px;
    border:1px solid green;
    display:flex;
    align-items: center;
    justify-content: center;
}
.aboutme-sub-section{
    width:100%;
    max-width:500px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:20px 0px;
    align-items: center;
}
#aboutme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:800px;
    margin:auto;
    margin-top: 50px;
    padding:0 12px;
    height:100vh;
}
.icons{
    width: 100px;
    background-color: #F2B56B;
    height:85px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons-group{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    justify-content: space-evenly;
}
.aboutme-text{
    width: 100%;
    max-width: 280px;
    padding:5px;
}
.conclusion{
   width:100%;
   max-width:500px;
   margin:auto;
   padding:30px;
   margin-top:20px;
}
.title-conclusion{
   font-size:1.3rem;
   text-align: center;
}
.body-conclusion{
    font-size:1.1rem;
    text-align: center;
    margin:10px;
}
.conclusion-buttons{
   display:flex;
   flex-direction: row;
   justify-content:center;
   margin:20px 0;
}
.section-title{
    font-size: 1.8rem;
    margin-bottom:20px
}
#contactme-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.icons-vertical{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
}
.knowmore{
    background-color:#F2B56B;
    color:white;
    margin: 0 10px;
}
.knowmore:hover{
    background-color:#ee9d3d;
    color:white;
}

.sub-aboutme{
    height:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*mobile about me page*/
@media only screen and (max-width: 600px) {
    #aboutme {
        overflow: scroll;
        justify-content:unset;
    }
}

/*welcome*/
#contactme{
    background-color: green;
    color: white;
    height: 100%;
    padding: 2px 8px;
    width: 100%;
    border-radius: 3px;
}
#contactme:hover{
    text-decoration:none;
    background-color:#007500;
}
#intro{
    height: 100vh;
    width:100%;
    max-width:450px;
    margin:auto;
    justify-content: center;
    padding:20px;
}


h1{
    font-size: 6.00rem;
    font-family: 'Roboto Slab', serif;
}
h4{
    font-size: 1.6rem;
}
.round{
    width:10px;
    height:10px;
    color:green;
    background-color: green;
    border-radius: 5px;
}
.border-round{
    width:14px;
    height:14px;
    border-radius:8px;
    border:1px solid green;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hello{
   font-size:1.2rem;
}

@media only screen and (max-device-width: 768px){
   h1{
       font-size:4rem;
   }
   h4{
       font-size:1.3rem;
   }
}

/*layout page */
html, body {
    background-color: #fff;
    color: 	#000000;
    font-family: 'Open Sans', sans-serif;
    /*font-weight: 200;*/
    height: 100vh;
    margin: 0;
    font-size:16px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-link:hover{
    /*font-weight:bold;
    border-radius:5px;*/
}

@media only screen and (min-width: 768px) {
    #mobile_latest{
        display:none;
    }
    .latest_article{
        height:400px;
    }
    .backend{
        margin-right:20px;
    }

}

@media only screen and (max-width: 768px) {
    #mobile_latest{
        display:block;
    }
    #desktop_latest{
        display:none;
    }

    .latest_photo {
        width:100% !important;
        padding:20px;
    }

    .latest_article{
        height:500px;
    }

    #skills{
        flex-wrap:wrap;
    }
    .backend{
        margin-bottom:20px;
    }

    #projects .row{
        text-align: -webkit-center;
    }
}

.nav-width{
    max-width:500px;
    width:100%;
    display:flex;
    margin:auto;
}

.active{
    border-bottom: 2px solid black;
}
.visible{
    display:block;
    font-family: 'Roboto', serif;
    transition: all 0.3s ease-in-out;
}
.visible:hover{
    transform: scale(1.2);

}
.notvisible{
    display:none;
}
#navbarNav ul li a{
    color:black;
}

/*portfolio index page*/

.seeCode{
    background-color:#F2B56B;
    width:fit-content;
}
.seeCode:hover{
    background-color:#ee9d3d;
}

#projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:30px 0;
    padding:20px;
}

.card{
    border-radius: 3px;
    width: 100%;
    max-width: 1100px;
    /* height: 300px; */
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 15px;
}
.main-img{
    width: 100%;
    /*height: 280px;
    margin: 10px;*/
}
.text{
    margin: 30px 0px 20px 0px;
    width:100%;
    max-width:400px;
    flex-direction: column;
    display: flex;
    /*align-content: flex-start;*/
    align-items: center;
}
.logos{
    margin-bottom:7px;
}
.logos img{
    width:35px;
    margin:5px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
    background-color: #444;
}
.carousel-item{
    height:100%;
    border-bottom: 0px;
}
.carousel-inner{
    height:100%;
}
.carousel-indicators{
    margin:5px;
}

